.facebook {
  height: 46px;
  align-items: center;
  padding: 0 10px;
  border: 1px solid rgba(238,238,238 ,1);
  border-radius: 5px;
  background: rgba(59,89,153 ,1);
  color: #fff;
  font-size: 0.9em;
  box-shadow: 5px 10px 20px -20px rgba(59,89,153 ,1)
}

.facebook__brand  i{
  font-size: 1.5em;
}
.facebook li:not(:last-child):not(:first-child):not(.facebook__search) {
  margin-right: 10px;
}